# Base / RPC
NEXT_PUBLIC_BASE_CHAIN_ID=
NEXT_PUBLIC_BASE_RPC_URL=

# Contracts
NEXT_PUBLIC_KWHU_TOKEN_ADDRESS=
NEXT_PUBLIC_KWHU_VAULT_ADDRESS=
NEXT_PUBLIC_KWHU_MARKETPLACE_ADDRESS=

# App
NEXT_PUBLIC_APP_NAME=KWHU MVP
